{% load staticfiles %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>3DCopy</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'scss/style.css' %}">
    {% bootstrap_javascript %}
    {% block head %}{% endblock %}
</head>
<body>
    <section id="base-header">
        <img src="{% static 'images/logo.png' %}" id="base-header-logo">
    </section>
    <section id="base-content">
        {% for message in error_messages %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        {% block content %}{% endblock %}
    </section>
    <section id="base-footer">
        <p>TODO: add appropriate footer text/links</p>
    </section>
</body>
</html>