{% load staticfiles %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>3DCopy</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'scss/style.css' %}">
    {% bootstrap_javascript %}
    {% block head %}{% endblock %}
</head>
<body>
    <section class="col-xs-12 container-fluid">
        {% for message in error_messages %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        {% block content %}{% endblock %}
    </section>
</body>
</html>