{% extends 'frontend/base.html' %}
{% load bootstrap3 %}

{% block content %}
    <a class="btn btn-primary" href="{% url 'create_registration_job' %}">Add registration job</a>
    <a class="btn btn-primary" href="{% url 'create_mesh_job' %}">Add mesh job</a>
    <table>
    <caption>Registration Jobs</caption>
        <tr>
          <th>Namn</th>
          <th>Skapad</th>
          <th>Startad</th>
          <th>Avslutad</th>
          <th></th>
        </tr>
        {% for r in registration_jobs %}
            <tr>
              <td> {{ r.name }}</td>
              <td> {{ r.created }}</td>
              <td> {{ r.started }}</td>
              <td> {{ r.finished }}</td>
                <td> <a href="show_registration_job/?id={{ r.id }}">View</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}