{% extends 'frontend/base.html' %}
{% load bootstrap3 %}

{% block content %}
    <section class="top-button-section">
        <a class="btn btn-primary" href="{% url 'create_registration_job' %}">Add registration job</a>
        <a class="btn btn-primary" href="{% url 'create_mesh_job' %}">Add mesh job</a>
    </section>
    <table class="table table-bordered table-condensed">
    <caption class="content-titles">Jobs</caption>
        <tr>
          <th>Type of job</th>
          <th>Name</th>
          <th>Started</th>
          <th>Finished</th>
          <th>View</th>
          <th>Start</th>
          <th>Delete</th>
        </tr>
        {% for r in result_jobs %}
            <tr>
              <td> {{ r.class_name }}</td>
              <td> {{ r.name }} </td>
              <td> {{ r.started }} </td>
              <td> {{ r.finished }} </td>
              <td> <a class="btn btn-primary" href="show_job/?type={{ r.class_name }}&id={{ r.id }}">View Job</a></td>
              <td> <a class="btn btn-primary {% if r.finished|lower != 'none' %}disabled{% endif %}" href="{% if r.class_name == 'Registration' %}start_registration{% else %}start_mesh{% endif %}/{{ r.id }}">Start Job</a></td>
              <td> <a class="btn btn-primary" href="{% url 'delete_job' %}?id={{ r.id }}"
                    onclick="return confirm('Are you sure you want to delete this job?')">Delete job
                   </a>
              </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}