{% extends "frontend/base.html" %}
{% load bootstrap3 %}

<head>
    <meta charset="UTF-8">
    <title>Mesh Job {{ job_id }}</title>
</head>

{% block content %}
<body>

    <a class="btn btn-primary" href="{% url 'index' %}">Back</a>
    <a class="btn btn-primary" href="{% url 'delete_job' %}?id={{ job_id }}"
       onclick="return confirm('Are you sure you want to delete this?')">Delete job
    </a>

    <table class="table table-bordered table-hover table-condensed">
    <caption>Mesh Job</caption>
        <tr>
          <th>Name</th>
          <th>Created</th>
          <th>Started</th>
          <th>Finished</th>
          <th>Log Level</th>
        </tr>
        {% for m in mesh_object %}
            <tr>
              <td> {{ m.name }}</td>
              <td> {{ m.created }}</td>
              <td> {{ m.started }}</td>
              <td> {{ m.finished }}</td>
              <td> {{ m.log_level }}</td>
            </tr>
        {% endfor %}
    </table>

    <table class="table table-bordered table-hover table-condensed">
    <caption>Input Files</caption>
        <tr>
          <th>Name</th>
          <th>Created</th>
          <th>Path</th>
        </tr>
        {% for f in files %}
            <tr>
              <td> {{ f.name }}</td>
              <td> {{ f.created }}</td>
              <td> {{ f.path }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
{% endblock %}