{% extends "frontend/base.html" %}
{% load bootstrap3 %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Registration Job {{ job_id }}</title>
</head>
<body>

    <a class="btn btn-primary" href="{%  url 'delete_registration_job' %}?id={{ job_id }}">Delete job</a>

    <table>
    <caption>Registration Job</caption>
        <tr>
          <th>Namn</th>
          <th>Skapad</th>
          <th>Startad</th>
          <th>Avslutad</th>
          <th>Log Level</th>
          <th>Max Correspondence</th>
          <th>Max Iterations</th>
          <th>Transformation Epsilon</th>
          <th>Leaf Size</th>
        </tr>
        {% for r in reg_object %}
            <tr>
              <td> {{ r.name }}</td>
              <td> {{ r.created }}</td>
              <td> {{ r.started }}</td>
              <td> {{ r.finished }}</td>
              <td> {{ r.log_level }}</td>
              <td> {{ r.max_correspondence }}</td>
              <td> {{ r.max_iterations }}</td>
              <td> {{ r.transformation_epsilon }}</td>
              <td> {{ r.leaf_size }}</td>
            </tr>
        {% endfor %}
    </table>

    <table>
    <caption>Input Files</caption>
        <tr>
          <th>Namn</th>
          <th>Skapad</th>
          <th>Väg</th>
          <th></th>
        </tr>
        {% for f in files %}
            <tr>
              <td> {{ f.name }}</td>
              <td> {{ r.created }}</td>
              <td> {{ r.path }}</td>
            </tr>
        {% endfor %}
    </table>

</body>
</html>
{% endblock %}