body {
  width: 1000px;
  margin: 100px auto;
}

#base-header-logo {
  display: block;
  width: 130px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#base-footer {
  text-align: center;
  background-color: aquamarine;
}

#index-button-section {
  background-color: red;
}

.btn-primary {

}